* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

/* section button{
  background-color: cornsilk;
  margin-left: 3px; 
/* } */
  
body{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400px;
}

section{
  min-height: 100vh;
}

/* form{
  margin-left: 3px;
}
form input{
  border: 3px solid black;
  margin-top: 3px;
  margin-bottom: 7px;
} */

section.image-holder{
  height: 100vh;
  overflow: hidden;
}

section.image-holder img{
  z-index: -1;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.image-holder h1{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 100px;
  color: coral;
  margin-top: 40px;
  margin-left: 40px;
}

section.image-holder button{
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  margin: 40px 0;
  transform: translateX(-50%);
  background-color: #09CED9;
}


section.background-holder{
  padding: 20px;
  /* border: 10px solid; */
  background-clip: padding-box;
  /* background-image: url("waves.jpeg"); */
  background-size: 200px 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: lightsalmon;
}

#about {
  min-height: 100vh;
}

#about article {
  width: 100%;
  max-width: 400px;
  padding: 80px 20px;
  margin: 0 auto;
}

#services {
  padding: 80px 0;
  background-size: cover;
  background-position: center center;
}

#services ul {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  background-color: rgba(90, 90, 90, 0.7);
}

#services ul li h2,
#services ul li p {
  text-align: center;
}

#services {
  background-image: url(waves.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


#contact {
  background-color: mediumaquamarine;
}

#contact form {
  width: 100%;
  max-width: 400px;
  padding: 40px 20px;
  margin: 0 auto;
}
  #contact input,
  #contact label {
    display: block;
    width: 100%;
  }

  #contact label {
    font-size: 12px;
    padding-bottom: 10px;
  }
    #contact input {
      height: 60px;
      padding: 0 10px;
      margin-bottom: 30px;
      font-size: 18px;
      background-color: white;
    }

    #contact button{
      width: 200px;
      height: 60px;
      background-color: lime;
      border-radius: 30px;
      font-size: 27px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      
    }