* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  section button{
    background-color: cornsilk;
  }
  
  section{
    min-height: 100vh;
  }

section.image-holder img{
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
}


section.background-holder{
    padding: 20px;
    border: 10px solid;
    background-clip: padding-box;
    background-image: url("waves.jpeg");
    background-size: 200px 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
  }